.alert {
    display: flex;
}


.card {
    padding: 20px;
    margin: 5px;
    text-align: center;
}


#card_container {
    /* background-color: #f4faff; */
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#footer {
    background-color: #F5F5F5;
    padding: 20px;
    /* margin-top: 10px; */
    text-align: center;
}


#search_box {
    background-color: #ccffee;
    width: 700px;
    /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#search_container {
    padding: 300px;
}


#search-btn {
    display: block;
}


#reponse_container {
    padding: 100px;
    text-align: center;
}

#response_card {
    padding: 20px;
    margin-right: 100px;
    width: 40rem;
}

#response_details {
    padding: 20px;
    margin-right: 100px;
    width: 40rem;
}

#navbar {
    background-color: #F5F5F5;
    padding: 20px;
    text-align: center;
}

h5:first-letter {
    text-transform: uppercase;
}