{% extends "layout.html" %}

{% block title %}
Details
{% endblock %}

{% block main %}
    <!-- Response from search -->
    <div id="reponse_container">
        <div id="response_card" class="card">
            <div class="card-body">
              <h5 class="card-title">{{ pokemon_data['name'] }}</h5>
            </div>
            <img src="{{ pokemon_data['sprites']['other']['official-artwork']['front_default'] }}" alt="pokemon picture" class="card-img-top">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
            </ul>
        </div>
    </div>
{% endblock %}