{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block home_active %}
active
{% endblock %}

{% block main %}
    <!-- Search box -->
    <div id="search_container" class="h-100 d-flex align-items-center justify-content-center">
      
      <div class="col-md-6">
        <div class="search-box">
          <form class="search-form d-flex align-items-center flex-nowrap" action="/details" method="get">
            <input type="text" autocomplete="off" class="form-control form-input" name="search" placeholder="ID or Pokemon Name">
              <button class="btn btn-light search-btn">
                Search
              </button>
          </form>
        </div>
      </div>

    </div>


    <!-- Floater cards -->
    <div id="card_container">
        {% for poke in list_poke: %}
        <div class="card" style="width: 14rem;">
            <div class="card-body">
              <h5 class="card-title">{{ poke['name'] }} #{{ poke['id'] }}</h5>
            </div>
            <img src="{{ poke['sprites']['other']['official-artwork']['front_default'] }}" alt="pokemon picture" class="card-img-top">
            <!-- <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
            </ul> -->
          </div>
          {% endfor %}
    </div>
{% endblock %}