<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <!-- Favicon attribution: Icon by Roundicons Freebies -->
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <title>Eevee-Dex: {% block title %}{% endblock %}</title>
    <!-- Importing bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <!-- Banner -->
    <div id="banner">
        -------------------- Banner --------------------
    </div>

    <!-- Navbar -->
    <div id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% block home_active %}{% endblock %}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block pokedex_active %}{% endblock %}" href="/pokedex">Pokedex</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block about_active %}{% endblock %}" href="/about">About</a>
                </li>
                </ul>
            </div>
        </nav>
    </div>

    {% if get_flashed_messages() %}
    <header>
        <div class="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}

    <main>
        {% block main %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div id="footer">
            -------------------- Footer --------------------
        </div>
    </footer>
    <!-- Importing bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>